{% block _payment_methods_stripe_payment_widget %}

    {% set component = view.options.paymentMethodComponent|default('orostripe/js/app/components/stripe-payment-card-component') %}
    {% set componentOptions = view.options.componentOptions|default({})|merge({
        paymentMethod: name
    }) %}

    {% if componentOptions.styles is not defined %}
        {# see full styles options in https://stripe.com/docs/js/appendix/style #}
        {% set styles = {
            base: {
                iconColor: '#c4f0ff',
                fontWeight: '500',
                lineHeight: '1.5',
                fontSize: '14px',
                color: '#495057'
            },
            complete: {},
            empty: {},
            invalid: {
                iconColor: '#7a0026',
                color: '#7a0026',
            }
        } %}
        {% set componentOptions = componentOptions|merge({'cardElementStyle': styles}) %}
    {% endif %}

    {% if block.vars.currentPaymentMethod is defined %}
    {% set componentOptions = componentOptions|merge({'selectedPaymentMethod': block.vars.currentPaymentMethod}) %}
    {% endif %}
    <div id="payment-method__{{ name }}" class="checkout-form__payment-methods" data-page-component-module="{{ component }}"
         data-page-component-options="{{ componentOptions|json_encode }}">
        <div class="checkout-form__payment-methods-form">
            <div class="form-row  checkout">
                <div id="stripe-card-element" class="stripe-card-element">{# Stripe.js injects the Card Element #}</div>
                <div id="stripe-card-validation-container">{# Stripe.js injects validation messages #}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _payment_methods_stripe_apple_google_pay_widget %}
    {% set component = view.options.paymentMethodComponent|default('orostripe/js/app/components/stripe-apple-google-pay-selection-component') %}
    {% set paymentContainerId = 'stripe-apple-google-pay-element__' ~ name %}
    {% set selector = {
        sourceElementSelector: '#' ~ paymentContainerId
    } %}
    {% set componentOptions = view.options.componentOptions|default({})|merge({
        paymentMethod: name,
        selector: selector,
        totals: totals,
        country: country
    }) %}

    {% if block.vars.currentPaymentMethod is defined %}
        {% set componentOptions = componentOptions|merge({'selectedPaymentMethod': block.vars.currentPaymentMethod}) %}
    {% endif %}

    <div id="{{ paymentContainerId }}"
         class="hidden" data-page-component-module="{{ component }}"
         data-page-component-options="{{ componentOptions|json_encode }}">
        <div id="stripe-apple-pay-item">
            <span class="stripe-apple-google-pay-label apple-pay-button apple-pay-button-black"></span>
        </div>
        <div id="stripe-google-pay-item">
            <span class="stripe-apple-google-pay-label"><img src="/bundles/orostripe/img/google-pay-mark_800.svg"><span>Google Pay</span></span>
        </div>
    </div>
{% endblock %}
